* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    width: 100%;
    height: 100%;
}

.imagen-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(30%); 
}

.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    margin-top: 80%;
}

h1 {
    font-size: 60px;
    color: #009440; 
}

p {
    font-size: 40px;
    margin-bottom: 45px;
}

.btn {
    padding: 10px 20px;
    background-color: #009440; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 25px;
}

.btn:hover {
    background-color: #fa1831; 
}
