* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    width: 100%;
    height: 100%;
}

.imagen-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(30%); 
}

.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    margin-top: 80%;
}

.login-container {
    text-align: center;
    width: 100%;
    height: 100%;
}

.background-img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(30%); 
}

.login-box {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    color: white;
    position: relative;
    z-index: 1;
}

.logo {
    width: 60px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
}

.input-group input::placeholder {
    color: #aaa;
}

#btn-login {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #009440;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #fa1831;
} 
